body {
    overflow: hidden;
}

/* Slideshow container */

  .mySlides {
    padding: 80px; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: #2f2f2f;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 60px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 65px;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    position: absolute;
    left: 65px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  

  /*Hamburger*/

  .container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right:60px;
    z-index: 9998;
  }

  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #7A7A7A;
    margin: 6px 20px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }



  /*Curtain*/

  /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #333; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    height: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }



  /*Redes sociais sidenav*/
#mySidenav {

  position: fixed;
  left: 0;
  top: calc(50% - (280px / 2));
}
  
  /* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -65px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 19px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #4868ad;
}

#blog {
  top: 80px;
  background-color: #4e545a;
}

#projects {
  top: 140px;
  background-color: #0077ba;
}

#contact {
  top: 200px;
  background-color: #3299ff;
}

/*Texto*/

#texto {
  color: #fff;
  position: absolute;
  top: 170px;
  left: 400px;
}

#titulo {
  color: #cacaca;
  font-size: 1.8em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: -1.5px;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

#corpo {
  color: #8a8a8a;
  font-size: 1.05em;
  line-height: 1.95em;
  font-weight: 400;
  font-family: Lato,Helvetica,Arial,sans-serif;
}